@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: #171717;
    --header-font-color: #ea580c;
    --footer-font-color: #ea580c;
    --font-family: "Press Start 2P", system-ui;
    --font-weight: 400;
    --font-style: normal;
    --footer-and-state-font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
}

.game {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

header,
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}

header {
    flex-direction: column;
    color: var(--header-font-color);
}

footer {
    font-size: 18px;
    font-family: var(--footer-and-state-font-family);
}

footer a {
    color: var(--footer-font-color);
    text-decoration: none;
}

.game-boards {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.player-state {
    font-size: 18px;
    font-family: var(--footer-and-state-font-family);
    color: white;
}

.board-one,
.board-two {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}

.board-one-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Ship position button styling. */
.ship-position {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
}

.ship-position:hover,
.ship-position:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.ship-position:hover {
    transform: translateY(-1px);
}

.ship-position:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.cell {
    border: 1px solid #FFFFFF;
}
